body{
  color: #FFFFFF;
  font-size: 90%
}
.stock_table {
border: medium solid #00FF00;
border-collapse: collapse;
width: 100%;
}
.twitter {
border: medium solid #00FF00;
border-collapse: collapse;
width: 100%;
}
th {
background-color: #00FF00;
color: #000000;
}
.totals_td {
background-color: #00FF00;
color: #000000;
}
.stock_td {
font-family: sans-serif;
border: thin solid #6495ed;
padding: 5px;
text-align: center;
}
caption {
font-family: sans-serif;
}
